# ---------------------------
# Dependencies
# ---------------------------
node_modules/

# ---------------------------
# Expo
# ---------------------------
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# ---------------------------
# Environment variables (VERY IMPORTANT)
# ---------------------------
.env
.env.*
!.env.example

# ---------------------------
# Native build artifacts
# ---------------------------
android/.gradle
android/build
android/app/build
ios/build
ios/Pods
ios/Podfile.lock

# ---------------------------
# Native credentials / keys
# ---------------------------
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# ---------------------------
# Metro / debug
# ---------------------------
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*

# ---------------------------
# macOS
# ---------------------------
.DS_Store

# ---------------------------
# Git
# ---------------------------
.git
.gitignore
